@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

html, body {
    width: 100%;
    height: 210%;
    scrollbar-width: 5px;
    scrollbar-color: whitesmoke #141E30;
    scroll-behavior: smooth;
    background-color: #141E30;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #141E30;
}

::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border-radius: 5px;
}

#container {
    width: 100%;
    height: 100%;
    color: whitesmoke;
    transition: filter 0.5s;
}

#header {
    width: 100%;
    height: 15vh;
    background-color: #141E30;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 150px;
    z-index: 100;
}

#header-logo a {
    display: flex;
    align-items: center;
    gap: 5px;
}

#header-logo h1 {
    font-size: 35px;
}

#header-logo i {
    font-size: 30px;
}

#navlist {
    display: flex;
    align-items: center;
    gap: 20px;
}

#navlist a {
    font-size: 20px;
    transition: color 0.2s;
}

#navlist a:hover {
    color: #de7879;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

#header-btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

#github-btn {
    width: 170px;
    height: 45px;
    border: 1px solid #9e4bfe;
    border-radius: 20px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.5s;
}

#github-btn a {
    color: #9e4bfe;
    transition: color 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#github-btn:hover {
    background-color: #9e4bfe;
}

#github-btn:hover a {
    color: whitesmoke;
}

#menu-btn {
    display: none;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: whitesmoke;
    font-size: 30px;
    transition: color 0.2s;
}

#menu-btn:hover {
    color: #de7879;
}

#about {
    width: 100%;
    height: 21%;
    background-color: #141E30;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 150px;
}

#introduction {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

#introduction > h1 {
    font-size: 55px;
}

#introduction > h2 {
    font-size: 35px;
}

#introduction > p {
    width: 100%;
    font-size: 22px;
    color: #a0a0a0;
}

#introduction span {
    color: #9e4bfe;
}

#introduction-img {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #de7879;
    border-radius: 100%;
    background-image: url(../Images/mainImg.jpg);
    background-size: cover;
    background-position: center;
}

#resume-btn {
    width: 230px;
    height: 60px;
    font-size: 22px;
    outline: none;
    border: 1px solid #141E30;
    border-radius: 20px;
    color: whitesmoke;
    cursor: pointer;
    background: rgb(186,98,98);
    background: linear-gradient(250deg, rgba(186,98,98,1) 0%, rgba(73,46,102,1) 100%);
    transition: transform 0.2s;
}

#resume-btn:hover {
    transform: scale(1.05, 1.05);
}

#resume-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#skills {
    width: 100%;
    height: 30%;
    background-image: linear-gradient(to bottom, #141e30, #182539, #1c2c42, #20334b, #243b55);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.title {
    font-size: 60px;
}

.description {
    font-size: 24px;
    color: #a0a0a0;
    text-align: center;
}

.skill-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.skill-row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    height: 50%;
}

.skill {
    width: 30%;
    height: 100%;
    border: 1px solid #9e4bfe;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #141E30;
    box-shadow: 0 0 7px 0 rgba(158, 75, 254, 0.5);
}

.skill-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.skill-category > h1 {
    font-size: 40px;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.skill-title {
    display: flex;
    align-items: center;
    gap: 7px;
    border: 1px solid #6592c5;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px 0 #6592c5;
}

.skill-title i{
    font-size: 18px;
}

.skill-title img{
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

#projects {
    width: 100%;
    height: 25%;
    height: auto;
    /* background-image: linear-gradient(to top, #141e30, #182539, #1c2c42, #20334b, #243b55); */
    background-color: #243b55;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: relative;
}

.project-list {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 100px;
}

.project-container {
    width: 24%;
    height: 61vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #141E30;
    box-shadow: 0 0 10px 1px #6592c5bd;
    transition: transform 0.5s, box-shadow 0.5s;
}

.project-container:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0 0 10px 1px rgba(158, 75, 254, 0.75);
}

.project-img {
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    border-radius: 10px;
}

.project-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.project-skills {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.project-skill {
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 15px;
    font-size: 11px;
    background-color: #182539;
    color: #9e4bfe;
}

.project-date {
    font-size: 13px;
    color: #a0a0a0;
}

.project-description {
    color: #a0a0a0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.details-btn {
    outline: none;
    border: 1px solid #9d61e2;
    border-radius: 10px;
    width: 30%;
    height: 30px;
    background-color: transparent;
    color: whitesmoke;
    cursor: pointer;

    transition: background-color 0.2s;
}

.details-btn:hover {
    background-color: #9d61e2;
}

.blur {
    filter: blur(10px);
}

.project-modal {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background-color: #141E30;
    border: 1px solid #141E30;
    border-radius: 20px;
    padding: 50px;
    color: whitesmoke;
    border: 1px solid #6592c5;
    position: fixed;
    top: 12%;
    left: 25%;
    bottom: 5%;
    z-index: 110;
    overflow: auto;
    display: none;
    scrollbar-width: none;
}

.project-modal::-webkit-scrollbar {
    width: 2px;
    display: none;
}

.modal-project-img {
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    border-radius: 10px;
}

.modal-project-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-project-skills {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.modal-project-skill  {
    padding: 10px;
    background-color: #182539;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #9e4bfe;
}

.modal-project-title {
    font-size: 45px;
}

.modal-project-date {
    color: #a0a0a0;
    font-size: 15px;
}

.modal-project-description {
    font-size: 20px;
}

.project-btns {
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.project-btn {
    width: 40%;
    height: 50px;
    border: 1px solid #9e4bfe;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.2s;
}

.project-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.bg-purple {
    background-color: #9e4bfe;
}

.project-btn:hover {
    transform: scale(1.05);
}

.close {
    position: absolute;
    top: 2%;
    right: 2%;
}

.close-btn {
    outline: none;
    border: none;
    color: whitesmoke;
    font-size: 25px;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.2s;
}

.close-btn:hover {
    color: tomato;
}

.show-project {
    display: flex;
}

.close-project {
    display: none;
}

.fade-out {
	-webkit-animation: fade-out 0.5s ease-out both;
	animation: fade-out 0.5s ease-out both;
}

.fade-in {
	-webkit-animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@-webkit-keyframes fade-out {
    0% {
      opacity: 1;
      display: flex;
    }
    100% {
      opacity: 0;
      display: none;
    }
}

@keyframes fade-out {
    0% {
      opacity: 1;
      display: flex;
    }
    100% {
      opacity: 0;
      display: none;
    }
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
              transform: scale(1);
        opacity: 1;
    }
}
@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.scale-out-center {
	-webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes scale-out-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
}
@keyframes scale-out-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        display: flex;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
        display: none;
    }
}  

#experience {
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to top, #141e30, #182539, #1c2c42, #20334b, #243b55);
}

#contact {
    width: 100%;
    height: 15%;
    /* background-color: #141E30; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    background-image: linear-gradient(to top, #141e30, #182539, #1c2c42, #20334b, #243b55);
}

.contact-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social-link {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 50%;
    font-size: 28px;
    padding-top: 2px;
    cursor: pointer;
    transition: transform 0.2s;
}

.social-link:hover {
    transform: scale(1.1);
}

.social-link a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#telegram {
    background-color: cornflowerblue;
}

#instagram {
    background-color: #ff1d6e;
}

#twitter {
    background-color: black;
}

#linkedin {
    background-color: #6983b0;
}

#github {
    background-color: #373333;
}

#mail {
    background-color: crimson;
}

#website {
    background-color: rgb(86, 86, 86);
}

#stackoverflow {
    background-color: rgb(255, 123, 0);
}

#container > hr {
    width: 90%;
    margin: auto;
}

#footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
}

#footer-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

#footer-title {
    font-size: 40px;
}

#footer-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-btn {
    outline: none;
    background-color: transparent;
    width: 200px;
    height: 40px;
    border: 1px solid rgb(255, 123, 0);
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.footer-btn:hover {
    background-color: rgb(255, 123, 0);
}

.footer-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#sections-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

#sections-list a {
    transition: color 0.2s;
    cursor: pointer;
}

#sections-list a:hover {
    color: gold;
}

#copy-right {
    font-size: 12px;
}

.show-navlist {
    display: flex !important;
}

.hide-navlist {
    display: none !important;
}

.slide-in-blurred-top {
	-webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
}

@keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
}
  
.slide-out-blurred-top {
	-webkit-animation: slide-out-blurred-top 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
	animation: slide-out-blurred-top 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

@-webkit-keyframes slide-out-blurred-top {
    0% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
}
@keyframes slide-out-blurred-top {
    0% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
}
  

/* Mobile styles */
@media only screen and (max-width: 600px) {

    body {
        height: 300%;
    }

    #header {
        padding: 20px;
        height: auto;
    }
    
    #header-logo h1 {
        font-size: 28px;
    }

    #header-logo i {
        font-size: 24px;
    }

    #github-btn {
        width: auto;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

    #about{
        flex-direction: column-reverse;
        padding: 50px 25px;
        height: 21%;
        gap: 30px;
    }

    #introduction {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #introduction-img {
        width: 70%;
    }

    #introduction > h1 {
        font-size: 40px;
        text-align: center;
    }

    #introduction > h2 {
        font-size: 30px;
        text-align: center;
    }

    #introduction > p {
        width: 100%;
        text-align: center;
        font-size: 17px;
    }

    #skills {
        height: 42%;
    }

    .skill-row, .project-row {
        align-items: center;
        flex-direction: column;
        height: auto;
    }

    .skill {
        width: 70%;
    }

    .skill-category > h1 {
        text-align: center;
    }

    #projects {
        height: 18%;
    }

    .project-list {
        padding: 0;
    }

    .project-container {
        width: 50%;
        height: auto;
    }

    #contact {
        height: 14%;
    }

    .contact-container {
        flex-wrap: wrap;
        gap: 46px;
    }

    .social-link {
        width: 60px;
        height: 60px;
    }
    
    .project-modal {
        width: 90%;
        left: 5%;
    }

    .project-btn, .modal-project-description {
        font-size: 18px;
    }

    #menu-btn {
        display: inline;
    }

    #navlist {
        justify-content: center;
        gap: 20px;
        padding: 20px;
        position: absolute;
        right: 3vw;
        top: 8.5vh;
        font-size: 20px;
        width: 100%;
        backdrop-filter: blur(10px);
        z-index: -10;
    }
}

@media only screen and (max-width: 480px) {

    body {
        height: 220%;
    }

    #about {
        height: 20%;
    }

    #introduction-img {
        width: 90%;
    }

    #introduction > h1 {
        font-size: 30px;
        text-align: center;
    }

    #introduction > h2 {
        font-size: 20px;
        text-align: center;
    }

    #introduction > p {
        width: 100%;
        text-align: center;
        font-size: 15px;
    }

    #skills {
        height: 45%;
    } 
    
    .skill {
        width: 90%;
    }

    .skill-title {
        font-size: 11px;
    }

    .skill-title > img {
        width: 15px;
        height: 15px;
    }

    .skill-category > h1 {
        font-size: 30px;
    }

    .section-title {
        padding: 0 15px;
    }

    .description {
        font-size: 20px;
    }

    .project-list {
        padding: 0;
    }

    .project-container {
        width: 85%;
    }

    #contact {
        height: 17%;
    }

    #footer-title {
        text-align: center;
        font-size: 30px;
    }

    .footer-btn {
        width: 140px;
        font-size: 15px;
    }

    .project-modal {
        padding: 25px;
    }

    .modal-project-title {
        font-size: 35px;
    }

    .modal-project-description {
        font-size: 15px;
    }

    .project-btns {
        flex-direction: column;
        gap: 20px;
    }

    .project-btn {
        width: 80%;
    }

    #github-btn {
        display: none;
    }
}

/* Tablet styles */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* You can place tablet-specific styles here */
    /* Example - Reduce padding and font-sizes slightly for tablets */
    #header {
        padding: 20px 100px; /* less padding than desktop but more than mobile */
    }

    #header-logo h1 {
        font-size: 30px;
    }

    /* ... additional styles for other elements for tablets ... */
}